includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - app
    - routes
  tmpDir: var/phpstan
  ignoreErrors:
    -
      identifier: missingType.iterableValue
    -
      identifier: missingType.generics
  scanFiles: []
  universalObjectCratesClasses:
    - Illuminate\Support\Fluent
  bootstrapFiles:
    - vendor/autoload.php
