includes:
  - phpstan-baseline.neon
  - vendor/nunomaduro/larastan/extension.neon
  - vendor/nunomaduro/larastan/rules.neon

parameters:
  level: 6
  paths:
    - app
    - routes
  tmpDir: var/phpstan
  checkMissingIterableValueType: false
  ignoreErrors: []
  scanFiles: []
  universalObjectCratesClasses:
    - Illuminate\Support\Fluent
  bootstrapFiles:
    - vendor/autoload.php
